version: "3.8"

services:
  # 1. Frontend (React)
  client:
    build: ./xo-client # Looks for Dockerfile in 'client' folder
    ports:
      - "80:80" # Maps your computer's port 80 to container port 80
    depends_on:
      - server # Waits for backend to start

  # 2. Backend (Go)
  server:
    build: ./tictactoe-backend # Looks for Dockerfile in 'backend' folder
    ports:
      - "8080:8080" # Websocket port
    environment:
      - REDIS_ADDR=redis:6379
    depends_on:
      - redis
    volumes:
      - ./data:/root # Saves chat_history.jsonl to your local 'data' folder

  # 3. Cache/DB (Redis)
  redis:
    image: redis:alpine
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

volumes:
  redis_data:
